
datasets/broden_concepts/redness/positives/95.w1siziisijiwmtkvmdivmdevmtqvmdcvmdmvmgm1mzixmdmtmzazms00zja2lwfhztytyjm0mty4nwyznmq3l1jhy2tndwx0axbhcnqymde5mdiwms0xmi0xa2dtcw50lnbuzyjdlfsiccisinrodw1iiiwiodiwedeymdaixv0.png
